@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h1>Frequently Asked Questions</h1>
    <ul>
        <li>
            <p class="question"><b>Why is this project so dumb?</b></p>
            <p class="answer">We have not invested enough time in it to make it smart.</p>

            <p class="question"><b>How much time have you invested in this project?</b></p>
            <p class="answer">About 5 hours x 2 persons.</p>

            <p class="question"><b>How much time is needed to make something smart?</b></p>
            <p class="answer">About 10.000 hours the rumours say.</p>
        </li>
    </ul>
</div>
